.modal {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: auto;
  height: fit-content;
  overflow: auto;
  background-color: var(--fourth-color);
  left: 0;
  bottom: 0;
}

.modal-main {
  background-color: var(--secondary-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--primary-color);
  width: 80%;
}

p {
  padding-top: 0.4rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--fourth-color);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .modal {
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 35%;
    height: fit-content;
    overflow: auto;
    background-color: var(--fourth-color);
    left: 0;
    bottom: 0;
  }

  .modal-main {
    background-color: var(--secondary-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    width: 80%;
  }

  p {
    padding: 0.1rem;
  }
  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: var(--fourth-color);
    text-decoration: none;
    cursor: pointer;
  }
}
