.search-input {
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  border: 0.1rem solid var(--third-color);
  border-radius: 0.3rem;
  font-size: medium;
}

.search-input:focus {
  outline: none;
  border-color: var(--fourth-color);
  box-shadow: var(--primary-color);
}

.search-input::placeholder {
  color: var(--third-color);
}
