/* .search-input {
    position: relative;
    width: 230px;
    height: 40px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: linear-gradient(to right, #d9d9d9, #f8f8f8);
    font-size: 16px;
    color: #555;
    outline: none;
    transition: box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease,
      border-color 0.3s ease, transform 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2) inset; /* Improved box-shadow for a realistic feel */
  /* }
  .search-input:focus + .search-icon {
    color: #4caf50;
    transform: translateY(-50%) scale(1.1);
    filter: drop-shadow(0 0 5px rgba(76, 175, 80, 0.6));
  }
  
  @keyframes inputPulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  } */
  
  .search-input:focus {
    animation: inputPulse 0.5s ease;
  }
   */