* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #695e6e;
  --secondary-color: #f4f4f4;
  --third-color: #ffd9bd;
  --fourth-color: #252323;
  --fifth-colour: #252323;
  --primary-font: "Sedgwick Ave", sans-serif;
  --secondary-font: "Atkinson Hyperlegible", sans-serif;
  --button-width: 15rem;
  --button-height: 3rem;
}
