.button-back {
  padding: 0.4rem 1.5rem 0rem;
  margin: 2rem 0 1rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}
