.leaflet-left {
  position: fixed;
  top: 70%;
  right: 1%;
}

.leaflet-right {
  margin: 1rem 0;
}

.leaflet-control-geocoder-form {
  display: block;
  padding: 0.82rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
}

.leaflet-touch .leaflet-bar .leaflet-right {
  display: flex;
  align-items: center;
}

.leaflet-touch .leaflet-control-geocoder-icon {
  position: absolute;
  right: 0;
  height: 3rem;
  width: 3rem;
  background-color: var(--secondary-color);
  background-image: url("../assets/images/icons8-search.svg");
}
