.navbar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  height: 4rem;
}

.figure-navbar-active {
  border-image: linear-gradient(var(--third-color), var(--primary-color)) 10;
  border-width: 2px;
  border-style: solid;
  padding: 0.2rem 0.2rem 0 0.2rem;
  margin-top: -0.2rem;
}

.figcaption-navbar-active,
.figcaption-navbar-normal {
  display: none;
}

.nav-inscription {
  display: none;
}

.navlink {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.loginNav-connect {
  display: none;
}

.loginNav-disconnect {
  display: none;
}

.navlink .icon-navbar {
  width: 1.875rem;
  height: 1.875rem;
  color: var(--primary-color);
}

.camera-icon {
  position: relative;
  top: -2.3rem;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--primary-color);
}

.camera-icon::after {
  content: "";
  position: absolute;
  background-color: #01034d;
  top: -0.5rem;
  left: -13%;
  width: 6rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  height: 3rem;
  z-index: -1;
}

.btnMenuBurger {
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.menuBurger {
  width: 2.85rem;
}

.menu_border {
  position: absolute;
  bottom: 99%;
  width: 10rem;
  height: 2.4rem;
  background-color: var(--secondary-color);
}

.navList {
  margin-top: 1.5rem;
}

.navLists {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding-top: 0.5rem;
}

.articleBurger {
  position: absolute;
  bottom: 2rem;
  left: 11rem;
  padding: 35% 35%;
  background-color: var(--secondary-color);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  transform: translateX(100%);
  opacity: 0;
  z-index: -2;
}

.articleBurger.active {
  transform: translateY(0);
  opacity: 1;
  z-index: -1;
}

.articleBurger ul {
  transform: translate(1rem);
}

.articleBurger ul li:nth-child(2) {
  transform: translateY(2rem);
}

.articleBurger ul li a {
  position: relative;
  color: var(--primary-color);
  text-decoration: none;
  bottom: 1rem;
  right: 5rem;
  font-size: 1.5rem;
}

.logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    top: 0;
  }

  .figure-navbar-active {
    border: none;
  }

  .figcaption-navbar-active {
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.2rem;
  }

  .figcaption-navbar-normal {
    display: inline-block;
    color: var(--fourth-color);
    font-size: 1.2rem;
    font-family: var(--secondary-font);
  }

  .navList {
    margin-top: 0;
  }

  .navLists {
    align-items: center;
    padding-top: 0;
  }

  .logo {
    display: block;
    width: 10rem;
    margin-left: 1rem;
    padding: 0.5rem;
  }

  .navLists {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    list-style: none;
  }

  .navbar .navlink img {
    display: none;
  }
  .camera-icon {
    display: none;
  }

  .loginNav-disconnect {
    display: block;
    margin-left: 1rem;
  }

  .loginNav-disconnect a {
    color: var(--fourth-color);
    font-size: 1.2rem;
    font-family: var(--secondary-font);
  }

  .nav-inscription {
    display: block;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    margin-left: 1rem;
  }

  .nav-inscription > a {
    color: var(--secondary-color);
  }

  .navList .loginNav {
    color: var(--fourth-color);
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    margin-right: 2rem;
    text-decoration: none;
  }

  .icon {
    display: none;
  }

  .btnMenuBurger {
    display: none;
  }

  .articleBurger {
    display: none;
  }
}
