.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: rgb(105, 94, 110);
  background: linear-gradient(
    162deg,
    var(--primary-color) 0%,
    var(--third-color) 59%
  );
  box-shadow: 0 0.1rem 0.3rem var(--fourth-color);
  z-index: 1;
}

.link-navIcon {
  text-decoration: none;
  font-size: 1.2rem;
}

.logo {
  display: none;
}

.navIcon {
  font-size: 2.5rem;
  color: var(--primary-color);
  list-style: none;
}

.navText {
  display: none;
}

.navLists {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navList {
  color: var(--third-color);
}
@media (min-width: 768px) {
  .navbar {
    top: 0;
  }
  .navText {
    top: 0;
    bottom: auto;
    display: block;
    color: var(--primary-color);
  }

  .logo {
    display: block;
    width: 5rem;
    border-radius: 50%;
    margin-left: 3rem;
    padding: 0.5rem;
  }

  .navLists {
    display: flex;
    justify-content: end;
    gap: 3rem;
    align-items: center;
    list-style: none;
    margin-right: 3rem;
  }

  .navIcon {
    display: none;
  }
}
