.profile-section-wrapper {
  background-image: linear-gradient(rgba(41, 42, 99, 1), rgba(255, 212, 76, 0)),
    url("../assets/images/backgroundRegister.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100svh;
  padding-bottom: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-section {
  width: 98%;
  background-color: var(--fourth-color);
  margin-top: 3.2rem;
  border: 1px solid var(--fifth-color);
  border-radius: 0.8125rem;
}

.profile-information-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
}

.profile-information-section,
.profile-contributions-section,
.profile-information-edit-section {
  margin: 1rem 1rem;
}

.link-adminPage-article {
  display: flex;
  justify-content: flex-end;
}

.link-adminPage {
  font-size: 1.2rem;
  text-decoration: underline;
  color: var(--fifth-color);
  margin-right: 2rem;
}

.profile-main-titles {
  color: var(--third-color);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.profile-information-article,
.profile-information-edit-article {
  width: 90%;
  margin: auto 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.profile-information-article > p,
.profile-information-edit-article > label {
  color: var(--secondary-color);
}

.profile-information-article > p:nth-child(2n + 1),
.profile-information-edit-article > label {
  font-weight: 600;
}

.profile-information-article > p:nth-child(2n) {
  text-align: right;
  font-size: 1.2rem;
}

.profile-information-article > p:nth-child(5) {
  align-self: end;
}

.profile-information-article > p:nth-child(6) {
  align-self: end;
}

.profile-information-edit-article {
  margin: 3rem auto 3rem auto;
}

.profile-information-edit-button {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 0.65rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.375rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-information-edit-button:first-of-type {
  margin-bottom: 0.8rem;
}

.profile-delete-button {
  display: inline-block;
  background-color: var(--fourth-color);
  border: none;
  font-style: italic;
  font-size: 1rem;
  margin: 0 2.5rem 2rem 0;
  text-align: right;
  cursor: pointer;
}

.profile-delete-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.profile-information-input-style {
  background-color: var(--primary-color);
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-information-input-style:focus-within {
  background-color: var(--third-color);
}

.profile-information-input-style > input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.2rem 0 0.2rem 0.8rem;
  background-color: var(--fourth-color);
  font-size: 1.2rem;
}

.profile-points-section {
  background-color: var(--primary-color);
  margin: auto;
  padding: 0.8rem 2rem 2rem 2rem;
  width: 90%;
  border-radius: 0.625rem;
}

.profile-points-section > h2 {
  color: var(--secondary-color);
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.8rem;
}

.profile-points-article {
  background-color: var(--fourth-color);
  width: 90%;
  margin: auto;
  border-radius: 0.625rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1rem;
  font-size: 1.1rem;
}

.profile-points-article > p {
  color: var(--secondary-color);
  font-weight: 600;
}

.profile-points-article > p:nth-child(2n + 1) {
  font-weight: 600;
}

.profile-points-article > p:nth-child(2n) {
  text-align: right;
  color: var(--third-color);
}

/* DELETE PROFILE */

.modal-deleteProfile {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: var(--fourth-color);
  border: 2.5px solid var(--fifth-color);
  border-radius: 0.9375rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: scroll;
  scrollbar-color: var(--third-color) var(--third-color);
  z-index: 3;
}

.modal-deleteProfile > header {
  display: flex;
  justify-content: flex-end;
}

.close-deleteProfile {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  margin: 1rem 0;
}

.close-deleteProfile:hover,
.close-deleteProfile:focus {
  color: var(--third-color);
  cursor: pointer;
}

.modal-content-deleteProfile {
  text-align: center;
}

.hand-icon-deleteProfile {
  color: var(--fifth-color);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.modal-content-deleteProfile > p {
  color: var(--secondary-color);
}

.modal-content-deleteProfile > p:nth-child(2) {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
}

.modal-content-deleteProfile > p:nth-child(3) {
  font-size: 1.25rem;
  font-style: italic;
  padding: 0.5rem 0.7rem 2rem 0.7rem;
  margin-bottom: 2rem;
}

.confirm-deleteProfile,
.cancel-deleteProfile {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 0.65rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.375rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* USER CONTRIBUTIONS */

.profile-added-image {
  max-width: 10rem; /* Assurez-vous que la hauteur s'ajuste automatiquement */
  height: 8rem; /* Ajustez la hauteur maximale selon vos besoins */
  display: block; /* Assurez-vous que l'image est affichée comme un bloc */
  margin: auto;
}

/* Profile.css */

.custom-splide {
  position: relative; /* Assurez-vous que le conteneur Splide est positionné relativement */
}

.custom-splide .splide__arrow {
  position: absolute; /* Position absolue pour les flèches */
  top: 50%; /* Alignement vertical au centre */
  transform: translateY(-50%); /* Ajustement pour centrer verticalement */
  z-index: 10; /* Assurez-vous que les flèches sont au-dessus des images */
  color: #ff0000; /* Couleur des flèches (remplacez par votre choix de couleur) */
  background-color: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
  font-size: 1.5rem; /* Taille de la police des flèches */
  padding: 0.5rem; /* Espacement interne des flèches */
}

.custom-splide .splide__arrow--prev {
  left: 0; /* Positionner la flèche précédente à gauche */
}

.custom-splide .splide__arrow--next {
  right: 0; /* Positionner la flèche suivante à droite */
}
