.profile-section-wrapper {
  background-image: linear-gradient(rgba(41, 42, 99, 1), rgba(255, 212, 76, 0)),
    url("../assets/images/backgroundRegister.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100svh;
  padding-bottom: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-article {
  width: 98%;
  background-color: var(--fourth-color);
  margin-top: 3.2rem;
  border: 1px solid var(--fifth-color);
  border-radius: 0.8125rem;
}

.profile-information-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
}

.profile-information-section,
.profile-contributions-section,
.profile-information-edit-section {
  margin: 1rem 1rem;
}

.link-admin-section {
  display: flex;
  justify-content: flex-end;
}

.link-admin {
  font-size: 1.2rem;
  text-decoration: underline;
  color: var(--fifth-color);
  margin-right: 2rem;
}

.profile-main-titles {
  color: var(--third-color);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.profile-information-article,
.profile-information-edit-article {
  width: 90%;
  margin: auto 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.profile-information-article > p,
.profile-information-edit-article > label {
  color: var(--secondary-color);
}

.profile-information-article > p:nth-child(2n + 1),
.profile-information-edit-article > label {
  font-weight: 600;
}

.profile-information-article > p:nth-child(2n) {
  text-align: right;
  font-size: 1.2rem;
}

.profile-information-article > p:nth-child(5) {
  align-self: end;
}

.profile-information-article > p:nth-child(6) {
  align-self: end;
}

.profile-information-edit-article {
  margin: 3rem auto 3rem auto;
}

.profile-information-edit-button {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 0.65rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.375rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-information-edit-button:first-of-type {
  margin-bottom: 0.8rem;
}

.profile-delete-button {
  display: inline-block;
  background-color: var(--fourth-color);
  border: none;
  font-style: italic;
  font-size: 1rem;
  margin: 0 2.5rem 2rem 0;
  text-align: right;
  cursor: pointer;
}

.profile-delete-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.profile-information-edit-article > input:focus-within {
  border: 12px solid var(--third-color);
}

.profile-information-edit-article > input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.2rem 0 0.2rem 0.8rem;
  background-color: var(--fourth-color);
  font-size: 1.2rem;
  border: 12px solid var(--primary-color);
  color: var(--secondary-color);
}

.profile-points-section {
  background-color: var(--primary-color);
  margin: auto;
  padding: 0.8rem 2rem 2rem 2rem;
  width: 90%;
  border-radius: 0.625rem;
}

.profile-points-section > h2 {
  color: var(--secondary-color);
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.8rem;
}

.profile-points-article {
  background-color: var(--fourth-color);
  width: 90%;
  margin: auto;
  border-radius: 0.625rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1rem;
  font-size: 1.1rem;
}

.profile-points-article > p {
  color: var(--secondary-color);
  font-weight: 600;
}

.profile-points-article > p:nth-child(2n + 1) {
  font-weight: 600;
}

.profile-points-article > p:nth-child(2n) {
  text-align: right;
  color: var(--third-color);
}

.modal-delete-profile {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: var(--fourth-color);
  border: 2.5px solid var(--fifth-color);
  border-radius: 0.9375rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: scroll;
  scrollbar-color: var(--third-color) var(--third-color);
  z-index: 3;
}

.modal-delete-profile > header {
  display: flex;
  justify-content: flex-end;
}

.close-delete-profile {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  margin: 1rem 0;
}

.close-delete-profile:hover,
.close-delete-profile:focus {
  color: var(--third-color);
  cursor: pointer;
}

.modal-content-delete-profile {
  text-align: center;
}

.hand-icon-delete-profile {
  color: var(--fifth-color);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.modal-content-delete-profile > p {
  color: var(--secondary-color);
}

.modal-content-delete-profile > p:nth-child(2) {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
}

.modal-content-delete-profile > p:nth-child(3) {
  font-size: 1.25rem;
  font-style: italic;
  padding: 0.5rem 0.7rem 2rem 0.7rem;
  margin-bottom: 2rem;
}

.confirm-delete-profile,
.cancel-delete-profile {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 0.65rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.375rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-added-image {
  max-width: 10rem;
  height: 8rem;
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  .profile-section-wrapper {
    background-image: none;
    min-height: auto;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile-article {
    width: 100%;
    margin-top: 5rem;
    border: none;
    border-radius: 0;
  }

  .profile-information-section {
    width: 60%;
    margin: auto;
  }
  .profile-points-section {
    width: 40%;
  }

  .link-admin-section {
    justify-content: flex-start;
    margin-left: 2rem;
  }

  .profile-delete-button-wrapper {
    margin-right: 18rem;
  }
}
