.registerAndLoginForm {
  background-image: linear-gradient(rgba(41, 42, 99, 1), rgba(255, 212, 76, 0)),
    url("../assets/images/backgroundRegister.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90svh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registerAndLoginForm Form {
  background-color: #f1f1f1;
  margin: 1.5rem 3rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerAndLoginForm Form h2 {
  font-size: 2.4rem;
  color: #ffd44c;
  text-align: center;
  font-family: var(--font-content);
  letter-spacing: 0.2rem;
}

.registerAndLoginForm Form label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0.8rem 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #ffd44c;
  color: #292a63;
  font-weight: 600;
  border-radius: 1rem;
  font-family: var(--font-content);
}

/* .registerAndLoginForm Form label {
  background-color: #ff81c4;
} */

.registerAndLoginForm Form .label-login {
  background-color: #ffd44c;
}

.registerAndLoginForm Form input {
  padding: 0.25rem;
  border-radius: 0.35rem;
  border: 0.5px solid #292a63;
}

.registerAndLoginForm Form label:nth-child(7) {
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
  gap: 0.6rem;
  font-size: 0.7rem;
  background-color: transparent;
  color: #292a63;
  text-align: end;
}

.registerAndLoginForm Form button {
  margin-top: 0.5rem;
  padding: 0.55rem;
  width: 70%;
  border-radius: 0.65rem;
  border: 0.5px solid black;
  background-color: #292a63;
  color: #ffd44c;
  font-weight: 600;
}

.registerAndLoginForm Form button:active {
  opacity: 0.85;
}

.registerAndLoginForm Form p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  gap: 0.5rem;
}

.registerAndLoginForm Form .errorsForm {
  color: red;
  font-weight: lighter;
  padding: 0.15rem 0;
}

.imgMockup {
  display: none;
}

@media (min-width: 768px) {
  section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .imgMockup {
    display: block;
    width: clamp(40vw, 50vw, 60vw);
  }
}
