.score-main-title {
  color: var(--third-color);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.podium-top3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.podium-rank {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 1rem; /* Initial height */
  min-height: 1rem; /* Ensure initial min-height */
  animation: expandHeight 2s forwards; /* Apply the same animation */
  --final-height: 1rem; /* Default value for the custom property */
}

/* Specific heights for each podium rank */
.podium-rank:first-child {
  width: 8rem;
  background-color: var(--primary-color);
  order: 2; /* Placer le premier élément en deuxième position */
  --final-height: 20rem; /* Final height for first-child */
}

.podium-rank:nth-child(2) {
  width: 7rem;
  background-color: var(--third-color);
  order: 1; /* Placer le deuxième élément en première position */
  --final-height: 15rem; /* Final height for nth-child(2) */
}

.podium-rank:last-child {
  width: 6rem;
  background-color: var(--secondary-color);
  order: 3; /* Maintenir le dernier élément en troisième position */
  --final-height: 10rem; /* Final height for last-child */
}

/* Define a single keyframes animation */
@keyframes expandHeight {
  from {
    height: 1rem;
  }
  to {
    height: var(--final-height);
  }
}
